body {
    background: whitesmoke;

}

main {

    background: url("kanban2.jpg");
    background-size: cover;
    padding: 20px;
}

main .container {
  
    padding: 5px;
   

    /* From https://css.glass */
    background: rgba(239, 243, 243, 0.23);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(239, 243, 243, 0.08);

}
main .col-md-6 {
    text-align: center;
    padding: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;


}
a:hover {
    color: rgb(100, 77, 150);
}


#dane {
    padding: 100px 10px;
}


.skills{
    padding: 10px;
    text-align: center;
}
.skills span {
    border: 1px solid #78dfe4;
    padding: 5px 10px;
    margin: 2px;
    color: #78dfe4;
    display: inline-block;
    border-radius: 8px;
    font-size: 13px;
}

.article-header {
    color: rgb(100, 77, 150);
    margin-top: 15px;
}

/* Lists styling */
ul {
    margin-top: 10px;
 }

/*Timeline styling*/
.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.timeline-steps .timeline-step {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem
}

@media (min-width:768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.46rem;
        position: absolute;
        left: 7.5rem;
        top: .3125rem
    }

    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: .25rem dotted #3b82f6;
        width: 3.8125rem;
        position: absolute;
        right: 7.5rem;
        top: .3125rem
    }
}

.timeline-steps .timeline-content {
    width: 10rem;
    text-align: center
}

.timeline-steps .timeline-content .inner-circle {
    border-radius: 1.5rem;
    height: 1rem;
    width: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #3b82f6
}

.timeline-steps .timeline-content .inner-circle:before {
    content: "";
    background-color: #3b82f6;
    display: inline-block;
    height: 3rem;
    width: 3rem;
    min-width: 3rem;
    border-radius: 6.25rem;
    opacity: .5
}

/* Boxes with Kursy styling*/
.boxy {
    background-color: #ecf1f8;
    border-radius: 8px; 
    border: 8px solid #b4cbf0;
    text-align: center;
    padding: 20px;
    height: 100%;
    
    }
.boxyActive {
    box-shadow: 0 0 1rem;
    border: 0; 
    padding: 28px;
    height: 100%;
    transform: scale(1.02);
}
.kursy {
    line-height: 1.2;
    font-size:small;
    margin-top: 10px;
}

/*Image styling */

#ja {
    /*border: solid #78dfe4;*/
    border-radius: 50%;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 3rem;

}

#banner2 {

    width: 100%;
    max-width: 400px;
    border-radius: 8px;
}


.lego {
    border-radius: 50%;
    max-width: 65px;
}

